<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="Name">
    {{ title }}
  </h1>
  <div class="container">
    <div class="input">
      <input name="search" ngModel [(ngModel)]="search" placeholder="Login">
      <input ngModel [(ngModel)]="search" class="container__input" type="text" placeholder="Введите назание книги или её часть ">
      <button class="button_search" (click)="handleSearch()">Найти</button>
    </div>
  </div>
</body>
</html>